.title_column {
    display: grid;
    grid-template-columns: 1.3em 2em 3em 3em 3em 3em 3em 3em 3em 3em 3em 3em 3em 3em 2em 2em 3em 3em 3em 2em 2.3em 2em;
    background: #283D4A;
    /* height: 3.75em; */
    /* width: 70em; */
    border-radius: 3px 3px 0 0;
    border: 1px solid #00000017;
    column-gap: 0.2rem;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.title_column h4 {
    font-size: 0.7em;
    font-weight: 600;
}

.grid_row {
    display: grid;
    grid-template-columns: 1.3em 2em 3em 3em 3em 3em 3em 3em 3em 3em 3em 3em 3em 3em 2em 2em 3em 3em 3em 2em 2.3em 2em;
    height: 1.9em;
    /* width: 70em; */
    /* border-radius: 9px 9px 0 0; */
    border: 1px solid #00000017;
    column-gap: 0.2rem;
    text-align: center;
    background-color: #2D4250;
    color: white;
}
.grid_row h6{
    font-size: 0.5em;
}