.footer {
    text-align: center;
    font-size: 10px;
    background-color: #3d5666;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.footer a {
    color: #2ecdff;
    text-decoration: underline;
}