.App {
  text-align: center;
}
.MuiTableSortLabel-icon {
  color: white !important;
}
MuiTablePagination-selectIcon {
  color: white !important;
}
.MuiSelect-icon {
  color: white !important;
}

.MuiButton-root {
  display: none;
}